<div data-ng-show="campaigns">
  <h3></h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" data-ng-if="noticeFlag" style="color:red;">
        {{noticeText}}
      </h3>
    </div>
    <div class="panel-body">
      <table datatable="ng" dt-instance="dtInstanceCallbackCampaign" class="row-border hover">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Campaigns</th>
            <th>Status</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Daily budget</th>
            <th>Spend</th>
            <th>Sales</th>
            <th>ACoS</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in campaigns">
            <td></td>
            <td></td>
            <td>
              <a data-ui-sref="ppc.managerCampaignSKU({id: user.id, campaignname: encodeURL(item.Campaign)})">{{ item.Campaign }}</a>
            </td>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <td>{{item.StartDate | date}}</td>
            <td>{{item.EndDate | date}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ item.acos1 }}</td>
          </tr>
        </tbody>
        <tfoot>
          
        </tfoot>
      </table>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('[data-toggle="popover"]').popover();
    $('body').on('click', function (e) {
      $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
          $(this).popover('hide');
        }
      });
    });
  });
</script>
