<div data-ng-controller="productKeywordTrackingController">
  <div class="text-box">
    <img src="/images/keywords.jpg" alt="" style="margin-top:15px;"/>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Products information</h3>
        </div>
        <div class="panel-body panel-body2">
          <div class="col-lg-2">
            <img style="width: 70%;" ng-src="{{product.image_sm}}">
          </div>
          <div class="col-lg-10">
            {{product["product-name"]}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <ul class="nav nav-tabs nav-tabs2 strange" ng-init="currentTab='PROFITABLE'">
        <li class="active"><a data-toggle="tab" data-target="#ktab1" ng-click="currentTab='PROFITABLE'">Profitable Keywords</a></li>
        <li><a data-toggle="tab" data-target="#ktab2" ng-click="currentTab='NON_PROFITABLE'">Non-Profitable Keywords</a></li>
        <li><a data-toggle="tab" data-target="#ktab3" ng-click="currentTab='ZERO_IMPRESSIONS'">Zero Impr.</a></li>
      </ul>
      <div class="tab-content">
        <div id="ktab1" class="tab-pane fade in active" data-ng-include="'/frontend/ppc/product/product-keywordtracking-profitable.html'">
        </div>
        <div id="ktab2" class="tab-pane fade" data-ng-include="'/frontend/ppc/product/product-keywordtracking-nonprofitable.html'">
        </div>
        <div id="ktab3" class="tab-pane fade" data-ng-include="'/frontend/ppc/product/product-keywordtracking-zeroimpressions.html'">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Keyword chart : {{selectedKeyword}}</h3>
          </div>
          <div class="panel-body" width="100%">
            <div class="cahrt-bg">
            <nvd3 options="optionsKeywordChart" data="dataKeywordChart"  width="100%"></nvd3>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Selected
            keywords
              <button class="btn" clipboard text="copiedKeywords[currentTab]" on-copied="success()" on-error="fail(err)">Copy to clipboard
              </button>
          </h3>
          <div class="panel-body">
            <textarea ng-model="copiedKeywords[currentTab]" class="form-control" rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
