<div ng-controller="SingleCampaignSearchTermController">
  <h3>
    <img src="./../../../images/search-v1.png" height="100" />
  </h3>
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-tabs2 strange search-term-tab-container">
        <li class="active"><a data-toggle="tab" data-target="#tab-profitable-terms">Profitable Search Terms</a></li>
        <li><a data-toggle="tab" data-target="#tab-non-profitable-terms">Non-Profitable Search Terms</a></li>
        <li><a data-toggle="tab" data-target="#tab-negative-word-finder">Negative Word Finder</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-profitable-terms" class="tab-pane fade in active">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-6">
                  <input type="checkbox" ng-model="filterFeature.searchterms.profitable.searchterms_only" ng-click="onApplyFilterFeature('searchterm_profitable')">
                  &nbsp;&nbsp;&nbsp;Search Terms Only
                  <a href="#" data-toggle="popover" data-placement="right" title="Search Terms Only" data-content="Sometimes a keyword and search term are the same ( ex: Exact match types), many times they are not. Checking this box means ONLY actual customer search terms will be revealed, not keywords. Using this will help you find customer search terms that are resulting in wasted ad spend. This way you can consider using them as NEGATIVE EXACT for your campaigns.">
                    <i class="fa fa-info-circle"></i>
                  </a>
                </div>
                <div class="col-lg-3 filterlist text-right">
                  <a data-target="#stopcampaigns7" class="btn-filter" data-toggle="collapse">
                    Filter Results
                  </a>
                  <div id="stopcampaigns7" class="collapse">
                    <div class="rowfilter">
                      <label>Select saved model:</label>
                      <select class="sel1" data-ng-model="model7.select">
                        <option ng-repeat="opt in modeloptions7" value="{{opt.id}}">
                          {{opt.name}}
                        </option>
                      </select>
                      <button ng-click="modelload(7,model7.select);" class="btn btn-load" data-toggle="collapse">
                        Load
                      </button>
                    </div>
                    <div class="rowfilter">
                      <label>Gross Revenue:</label>
                      <input id="model7.revenuefrom" data-ng-model="model7.revenuefrom">
                      <span>to</span>
                      <input id="model7.revenueto" data-ng-model="model7.revenueto">
                    </div>
                    <div class="rowfilter">
                      <label>Ad Spend:</label>
                      <input id="model7.adspendfrom" data-ng-model="model7.adspendfrom">
                      <span>to</span>
                      <input id="model7.adspendto" data-ng-model="model7.adspendto">
                    </div>
                    <div class="rowfilter">
                      <label>AcOs:</label>
                      <input data-ng-model="model7.acosfrom">
                      <span>to</span>
                      <input data-ng-model="model7.acosto">
                    </div>
                    <div class="rowfilter">
                      <label>Impressions:</label>
                      <input data-ng-model="model7.impressionsfrom">
                      <span>to</span>
                      <input data-ng-model="model7.impressionsto">
                    </div>
                    <div class="rowfilter">
                      <label>Clicks:</label>
                      <input data-ng-model="model7.clicksfrom">
                      <span>to</span>
                      <input data-ng-model="model7.clicksto">
                      <br>
                    </div>
                    <div class="rowfilter">
                      <label>CTR%:</label>
                      <input data-ng-model="model7.ctrfrom">
                      <span>to</span>
                      <input data-ng-model="model7.ctrto">
                    </div>
                    <div class="rowfilter">
                      <label>Ave Cost Per Click:</label>
                      <input data-ng-model="model7.avecpcfrom">
                      <span>to</span>
                      <input data-ng-model="model7.avecpcto">
                    </div>
                    <div class="rowfilter">
                      <label>Orders:</label>
                      <input data-ng-model="model7.ordersFrom">
                      <span>to</span>
                      <input data-ng-model="model7.ordersTo">
                    </div>
                    <div class="rowfilter">
                      <label>Conversion %:</label>
                      <input data-ng-model="model7.conversionRateFrom">
                      <span>to</span>
                      <input data-ng-model="model7.conversionRateTo">
                    </div>
                    <div class="rowfilter">
                      <label>Select match type:</label>
                      <select class="sel2" data-ng-model="model7.match1">
                        <option value="ANY">ANY</option>
                        <option value="BROAD">BROAD</option>
                        <option value="PHRASE">PHRASE</option>
                        <option value="EXACT">EXACT</option>
                      </select>
                    </div>
                    <div class="rowfilter">
                      <label>Model name:</label>
                      <input data-ng-model="model7.name">
                    </div>
                    <div class="rowfilter text-right">
                      <button ng-click="modelsave(7,model7);" class="btn btn-save">Save</button>
                      <button ng-click="modelclear(7);" class="btn btn-clear">Clear</button>
                    </div>
                    <div class="rowfilter text-right">
                      <button ng-click="loadKeywords(7,model7);" class="js-close-filter">Apply</button>
                      <button class="js-close-filter">Close</button>
                    </div>
                  </div>
                  <span class="date-range-picker-label">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span>Date Range:</span>
                  </span>
                </div>
                <div class="col-lg-3">
                  <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" options="dateRangeOptions">
                </div>
              </div>
            </div>
            <div class="panel-body">
              <ul class="nav nav-tabs nav-tabs1">
                <li ng-class="{active: currentAdGroup3 == null}">
                  <a data-ng-click="adgroup3(null)" data-toggle="tab" href="#">
                    All
                  </a>
                </li>
                <li ng-repeat="adg in unique" ng-class="{active: currentAdGroup3 == adg.AdGroup}">
                  <a data-ng-click="adgroup3(adg.AdGroup)" data-toggle="tab" href="#">
                    {{adg.AdGroup}}
                  </a>
                </li>
              </ul>
              <table id="table-profitable-terms" datatable="ng" dt-options="dtOptionsSearchPro" dt-instance="dtInstanceCallbackSearchPro" class="row-border hover" width="100%">
                <thead>
                  <tr>
                    <th><input type="checkbox" ng-model="checkFeature.all.searchterm_profitable" ng-click="onCheckFeatureAll('searchterm_profitable')"></th>
                    <th>Search Terms</th>
                    <th>Match Type</th>
                    <th>Associated Keyword</th>
                    <th>Last Day of Impression</th>
                    <th>Revenue</th>
                    <th>AD Spend</th>
                    <th>AcoS,%</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>CTR%</th>
                    <th>Ave CPC</th>
                    <th>Orders</th>
                </thead>
                <tbody>
                  <tr ng-repeat="keyword in profitableKeywords" width="100%">
                    <td><input type="checkbox" ng-click="onCheckFeatureOne('searchterm_profitable')" checklist-model="checkFeature.selected.searchterm_profitable" checklist-value="keyword"></td>
                    <td>
                      <a ng-click="addsearch7(keyword.Search)">
                        <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                      </a>
                      {{keyword.Search}}
                    </td>
                    <td>{{ keyword.Match1 }}</td>
                    <td>{{ keyword.Keyword === '(_targeting_auto_)' ? '*' : keyword.Keyword }}</td>
                    <td>{{ keyword.Last_Day_Of_Impression | date: 'shortDate' }}</td>
                    <td>{{currency_sign}}{{ keyword.Revenue/currency_rate_USD*currency_rate | number :2 }}</td>
                    <td>{{currency_sign}}{{ keyword.Cost/currency_rate_USD*currency_rate | number :2 }}</td>
                    <td>{{ keyword.Cost / keyword.Revenue*100 | number :1 }}</td>
                    <td>{{ keyword.Impressions | number :0 }}</td>
                    <td>{{ keyword.Clicks | number :0 }}</td>
                    <td>{{ keyword.CTR * 100 | number :2 }}</td>
                    <td title="{{ keyword.AvCPC | number :10 }}">{{ keyword.AvCPC | number :2 }}</td>
                    <td>{{ keyword.Orders | number :0 }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <td>Total:</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                &nbsp;&nbsp;Selected Search Terms
                <button class="btn" clipboard text="copiedProfitableKeywords" on-copied="success()" on-error="fail(err)">
                  Copy to clipboard
                </button>
              </h3>
            </div>
            <div class="panel-body">
              <textarea ng-model="copiedProfitableKeywords" class="form-control" rows="10"></textarea>
            </div>
          </div>
        </div>
        <div id="tab-non-profitable-terms" class="tab-pane fade">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-6 clearfix">
                  <input type="checkbox" ng-model="filterFeature.searchterms.nonprofitable.searchterms_only" ng-click="onApplyFilterFeature('searchterm_nonprofitable')">
                  &nbsp;&nbsp;&nbsp;Search Terms Only
                  <a href="#" data-toggle="popover" data-placement="right" title="Search Terms Only" data-content="Sometimes a keyword and search term are the same ( ex: Exact match types), many times they are not. Checking this box means ONLY actual customer search terms will be revealed, not keywords. Using this will help you find customer search terms that are resulting in wasted ad spend. This way you can consider using them as NEGATIVE EXACT for your campaigns.">
                    <i class="fa fa-info-circle"></i>
                  </a>
                  <span class="pull-right">
                    Scroll Down For Preset - Time Saving Filters.
                  </span>
                </div>
                <div class="col-lg-3 filterlist text-right">
                  <a data-target="#stopcampaigns8" class="btn btn-info" data-toggle="collapse">
                    Filter Results
                  </a>
                  <div id="stopcampaigns8" class="collapse">
                    <div class="rowfilter">
                      <label>Select saved model:</label>
                      <select class="sel1" data-ng-model="model8.select">
                        <option ng-repeat="opt in modeloptions8" value="{{opt.id}}">{{opt.name}}</option>
                      </select>
                      <button ng-click="modelload(8,model8.select);" class="btn btn-load" data-toggle="collapse">
                        Load
                      </button>
                    </div>
                    <div class="rowfilter">
                      <label>Gross Revenue:</label>
                      <input id="model8.revenuefrom" data-ng-model="model8.revenuefrom">
                      <span>to</span>
                      <input id="model8.revenueto" data-ng-model="model8.revenueto">
                    </div>
                    <div class="rowfilter">
                      <label>Ad Spend:</label>
                      <input id="model8.adspendfrom" data-ng-model="model8.adspendfrom">
                      <span>to</span>
                      <input id="model8.adspendto" data-ng-model="model8.adspendto">
                    </div>
                    <div class="rowfilter">
                      <label>AcOs:</label>
                      <input data-ng-model="model8.acosfrom">
                      <span>to</span>
                      <input data-ng-model="model8.acosto">
                    </div>
                    <div class="rowfilter">
                      <label>Impressions:</label>
                      <input data-ng-model="model8.impressionsfrom">
                      <span>to</span>
                      <input data-ng-model="model8.impressionsto">
                    </div>
                    <div class="rowfilter">
                      <label>Clicks:</label>
                      <input data-ng-model="model8.clicksfrom">
                      <span>to</span>
                      <input data-ng-model="model8.clicksto"><br>
                    </div>
                    <div class="rowfilter">
                      <label>CTR%:</label>
                      <input data-ng-model="model8.ctrfrom">
                      <span>to</span>
                      <input data-ng-model="model8.ctrto">
                    </div>
                    <div class="rowfilter">
                      <label>Ave Cost Per Click:</label>
                      <input data-ng-model="model8.avecpcfrom">
                      <span>to</span>
                      <input data-ng-model="model8.avecpcto">
                    </div>
                    <div class="rowfilter">
                      <label>Orders:</label>
                      <input data-ng-model="model8.ordersFrom">
                      <span>to</span>
                      <input data-ng-model="model8.ordersTo">
                    </div>
                    <div class="rowfilter">
                      <label>Conversion %:</label>
                      <input data-ng-model="model8.conversionRateFrom">
                      <span>to</span>
                      <input data-ng-model="model8.conversionRateTo">
                    </div>
                    <div class="rowfilter">
                      <label>Select match type:</label>
                      <select class="sel2" data-ng-model="model8.match1">
                        <option value="BROAD">BROAD</option>
                        <option value="PHRASE">PHRASE</option>
                        <option value="EXACT">EXACT</option>
                      </select>
                    </div>
                    <div class="rowfilter">
                      <label>Model name:</label>
                      <input data-ng-model="model8.name">
                    </div>
                    <div class="rowfilter text-right">
                      <button ng-click="modelsave(8,model8);" class="btn btn-save">Save</button>
                      <button ng-click="modelclear(8);" class="btn btn-clear">Clear</button>
                    </div>
                    <div class="rowfilter text-right">
                      <button ng-click="loadKeywords(8,model8);" class="js-close-filter">Apply</button>
                      <button class="js-close-filter">Close</button>
                    </div>
                  </div>
                  <span class="date-range-picker-label">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span>Date Range:</span>
                  </span>
                </div>
                <div class="col-lg-3">
                  <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" options="dateRangeOptions">
                </div>
              </div>
            </div>
            <div class="panel-body">
              <ul class="nav nav-tabs nav-tabs2">
                <li ng-class="{active: currentAdGroup4 == null}"><a data-ng-click="adgroup4(null)" data-toggle="tab" href="#">All</a></li>
                <li ng-repeat="adg in unique" ng-class="{active: currentAdGroup4 == adg.AdGroup}"><a data-ng-click="adgroup4(adg.AdGroup)" data-toggle="tab" href="#">{{adg.AdGroup}}</a></li>
              </ul>
              <table id="table-non-profitable-terms" datatable="ng" dt-options="dtOptionsNonProfitableKeywords" dt-instance="dtInstanceCallbackSearchUnPro" class="row-border hover" width="100%">
                <thead>
                  <tr>
                    <td><input type="checkbox" ng-click="onCheckFeatureAll('searchterm_nonprofitable')" ng-model="checkFeature.all.searchterm_nonprofitable"></td>
                    <th>Search Terms</th>
                    <th>Match Type</th>
                    <th>Associated Keyword</th>
                    <th>Last Day of Impression</th>
                    <th>Revenue</th>
                    <th>AD Spend</th>
                    <th>AcoS,%</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>CTR%</th>
                    <th>Ave CPC</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="keyword in nonProfitableKeywords" width="100%">
                    <td><input type="checkbox" ng-click="onCheckFeatureOne('searchterm_nonprofitable')" checklist-model="checkFeature.selected.searchterm_nonprofitable" checklist-value="keyword"></td>
                    <td>
                      <a ng-click="addsearch8(keyword.Search)">
                        <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                      </a>
                      <a>{{ keyword.Search }}</a>
                    </td>
                    <td>
                      {{ keyword.Match1 }}
                    </td>
                    <td>
                      {{ keyword.Keyword === '(_targeting_auto_)' ? '*' : keyword.Keyword }}
                    </td>
                    <td>
                      {{ keyword.Last_Day_Of_Impression | date: 'shortDate' }}
                    </td>
                    <td>
                      {{currency_sign}}{{ keyword.Revenue / currency_rate_USD * currency_rate | number :2 }}
                    </td>
                    <td>
                      {{currency_sign}}{{ keyword.Cost / currency_rate_USD * currency_rate | number :2 }}
                    </td>
                    <td>
                      {{ keyword.Cost / keyword.Revenue * 100 | number :1 }}
                    </td>
                    <td>
                      {{ keyword.Impressions | number :0 }}
                    </td>
                    <td>
                      {{ keyword.Clicks | number :0 }}
                    </td>
                    <td>
                      {{ keyword.CTR * 100 | number :2 }}
                    </td>
                    <td title="{{ keyword.AvCPC | number :10 }}">
                      {{ keyword.AvCPC | number :2 }}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <td>Total:</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    &nbsp;&nbsp;Selected Search Terms
                    <button class="btn" clipboard text="copiedkeywords8" on-copied="success()" on-error="fail(err)">
                      Copy to clipboard
                    </button>
                  </h3>
                </div>
                <div class="panel-body">
                  <textarea ng-model="copiedkeywords8" class="form-control" rows="10"></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="panel panel-default">
                <div class="panel-body" style="padding: 0;">
                  <h4>5 Clicks No Sales</h4>
                  <table datatable="ng" dt-options="dtOptionsNonProfitableKeywordsFilterByClick" dt-instance="dtInstanceCallbackSearchUnProFilterByClick" class="row-border hover" width="100%">
                    <thead>
                      <tr>
                        <th>Search Terms</th>
                        <th>Clicks</th>
                        <th>Orders</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="keyword in nonProfitableKeywordsFilteredByClick" width="100%">
                        <td>
                          <a ng-click="addsearch8(keyword.Search)">
                            <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                          </a>
                          {{ keyword.Search }}
                        </td>
                        <td>
                          {{ keyword.Clicks | number :0 }}
                        </td>
                        <td>
                          {{ keyword.Orders | number :0 }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="panel panel-default">
                <div class="panel-body" style="padding: 0;">
                  <h4>
                    Low CTR% &lt;.4%
                    <div>
                      <small>(Indicates high impressions/low clicks)</small>
                    </div>
                  </h4>
                  <table datatable="ng" dt-options="dtOptionsNonProfitableKeywordsFilterByImpression" dt-instance="dtInstanceCallbackSearchUnProFilterByImpression" class="row-border hover" width="100%">
                    <thead>
                      <tr>
                        <th>Search Terms</th>
                        <th>Impressions</th>
                        <th>CTR%</th>
                        <th>Orders</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="keyword in nonProfitableKeywordsFilteredByImpression" width="100%">
                        <td>
                          <a ng-click="addsearch8(keyword.Search)">
                            <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                          </a>
                          {{ keyword.Search }}
                        </td>
                        <td>
                          {{ keyword.Impressions | number :0 }}
                        </td>
                        <td>
                          {{ keyword.CTR * 100 | number :2 }}
                        </td>
                        <td>
                          {{ keyword.Orders | number :0 }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-negative-word-finder" class="tab-pane fade">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-3">
                  <h3 class="panel-title">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    &nbsp;&nbsp;Negative Word Finder
                    <a href="#" data-toggle="popover" title="Negative Word Finder"
                      data-content="The negative word finder will find the individual words that are proven to be not profitable.">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </h3>
                </div>
                <div class="col-lg-6 filterlist text-right">
                  <a data-target="#stopcampaigns9" class="btn btn-info" data-toggle="collapse" style="display:none;">
                    Filter Results
                  </a>
                  <div id="stopcampaigns9" class="collapse">
                    <div class="rowfilter">
                      <label>Select saved model:</label>
                      <select class="sel1" data-ng-model="model9.select">
                        <option ng-repeat="opt in modeloptions9" value="{{opt.id}}">
                          {{opt.name}}
                        </option>
                      </select>
                      <button ng-click="modelload(9,model9.select);" class="btn btn-load" data-toggle="collapse">
                        Load
                      </button>
                    </div>
                    <div class="rowfilter">
                      <label>Gross Revenue:</label>
                      <input id="model9.revenuefrom" data-ng-model="model9.revenuefrom">
                      <span>to</span>
                      <input id="model9.revenueto" data-ng-model="model9.revenueto">
                    </div>
                    <div class="rowfilter">
                      <label>Ad Spend:</label>
                      <input id="model9.adspendfrom" data-ng-model="model9.adspendfrom">
                      <span>to</span>
                      <input id="model9.adspendto" data-ng-model="model9.adspendto">
                    </div>
                    <div class="rowfilter">
                      <label>AcOs:</label>
                      <input data-ng-model="model9.acosfrom">
                      <span>to</span>
                      <input data-ng-model="model9.acosto">
                    </div>
                    <div class="rowfilter">
                      <label>Impressions:</label>
                      <input data-ng-model="model9.impressionsfrom">
                      <span>to</span>
                      <input data-ng-model="model9.impressionsto">
                    </div>
                    <div class="rowfilter">
                      <label>Clicks:</label>
                      <input data-ng-model="model9.clicksfrom">
                      <span>to</span>
                      <input data-ng-model="model9.clicksto">
                      <br>
                    </div>
                    <div class="rowfilter">
                      <label>CTR%:</label>
                      <input data-ng-model="model9.ctrfrom">
                      <span>to</span>
                      <input data-ng-model="model9.ctrto">
                    </div>
                    <div class="rowfilter">
                      <label>Ave Cost Per Click:</label>
                      <input data-ng-model="model9.avecpcfrom">
                      <span>to</span>
                      <input data-ng-model="model9.avecpcto">
                    </div>
                    <div class="rowfilter">
                      <label>Orders:</label>
                      <input data-ng-model="model9.ordersFrom">
                      <span>to</span>
                      <input data-ng-model="model9.ordersTo">
                    </div>
                    <div class="rowfilter">
                      <label>Conversion %:</label>
                      <input data-ng-model="model9.conversionRateFrom">
                      <span>to</span>
                      <input data-ng-model="model9.conversionRateTo">
                    </div>
                    <div class="rowfilter">
                      <label>Select match type:</label>
                      <select class="sel2" data-ng-model="model9.match1">
                        <option value="BROAD">BROAD</option>
                        <option value="PHRASE">PHRASE</option>
                        <option value="EXACT">EXACT</option>
                      </select>
                    </div>
                    <div class="rowfilter">
                      <label>Model name:</label>
                      <input data-ng-model="model9.name">
                    </div>
                    <div class="rowfilter text-right">
                      <button ng-click="modelsave(9,model9);" class="btn btn-save">Save</button>
                      <button ng-click="modelclear(9);" class="btn btn-clear">Clear</button>
                    </div>
                    <div class="rowfilter text-right">
                      <button ng-click="loadKeywords(9,model9);" class="js-close-filter">Apply</button>
                      <button class="js-close-filter">Close</button>
                    </div>
                  </div>
                  <span class="date-range-picker-label">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span>Date Range:</span>
                  </span>
                </div>
                <div class="col-lg-3">
                  <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" options="dateRangeOptions">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-9">
                  <label>&nbsp; Clicks :</label>&nbsp;
                  <input type="text" id="model9.uclicksfrom" data-ng-model="model9.uclicksfrom" style="width:60px;height:30px;">
                  <span>to</span>
                  <input input type="text" id="model9.uclicksto" data-ng-model="model9.uclicksto" style="width:60px;height:30px;">
                  &nbsp;&nbsp;
                  <a ng-click="loadKeywords(9,model9);" class="btn btn-info" data-toggle="collapse">
                    Result
                  </a>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <table id="table-negative-words" datatable="ng" dt-options="dtOptionsNegativeWordFinder" dt-instance="dtInstanceCallbackSearchNeg" class="row-border hover" width="100%">
                <thead>
                  <tr>
                    <th><input type="checkbox" name="selectedallwords" ng-checked="sellallwords" ng-click="toggleSelectAll()"></th>
                    <th>Search Words</th>
                    <th>Unprofitable Clicks</th>
                    <th>Revenue</th>
                    <th>Wasted AD Spend</th>
                    <th>Approximate Yearly Savings</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="keyword in negativeKeywords" width="100%">
                    <td>
                      <input type="checkbox" name="selectedWord[]" value="{{keyword.Search}}"
                        ng-checked="keyword.selected" ng-click="toggleSelectKeyword(keyword)">
                    </td>
                    <td>
                      <a ng-click="copyword9(keyword.Search)">
                        <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                      </a>
                      <a ng-click="copyword9(keyword.Search)">{{keyword.Search}}</a></td>
                    <td>{{keyword.Clicks}}</td>
                    <td>{{currency_sign}}{{ keyword.Revenue/currency_rate_USD*currency_rate | number :2 }}</td>
                    <td>{{keyword.ADSpend | number:2}}</td>
                    <td>{{keyword.AYS | number:2}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <td></td>
                  <td>Total:</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    &nbsp;&nbsp;Selected Search Terms
                    <button class="btn" clipboard text="copiedkeywords9" on-copied="success()" on-error="fail(err)">
                      Copy to clipboard
                    </button>
                  </h3>
                </div>
                <div class="panel-body">
                  <textarea ng-model="copiedkeywords9" class="form-control" rows="10"></textarea>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
